<!DOCTYPE html>
<html>
  <head>
    {% include 'bootstrap.html' %}
    <title>Career Portal</title>
  </head>
  <body>
    {% include 'nav.html' %}

    {% include 'banner.html' %}

    <div class="container">
      <h1 class="text-center mt-2 mb-4">Career Portal</h1>
      <div class="container px-4 text-center">
        <div class="row gx-5">
          <div class="col">
            <div class="p-3">
              <p class="lead">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ip
                </p>
             </div>
          </div>
          <div class="col d-none d-lg-block">
            <div class="p-3">
               <img class="img-fluid rounded float-end" id="people" src="/static/people.jpg">
            </div>
          </div>
        <div class="d-lg-none"> 
          <div class="row gx-5">
            <div class="col">
              <div class="p-3">
                <img class="img-fluid rounded float-end" id="people" src="/static/people.jpg">
              </div>
            </div>
          </div>
        </div>
        <h2 class="text-center mt-2 mb-4">Job Openings</h2>
      <div>
        {% for job in jobs %}
          {% include 'jobitem.html' %} 
        {% endfor %}
      </div>
      <div class="text-center">
        <button class="btn btn-secondary btn-lg">Contact us</button>
      </div>  
    </div>
    {% include 'footer.html' %}
  </body>
</html>