<!DOCTYPE html>
<html>
  <head>
    {% include 'bootstrap.html' %}
    <title>{{job.title}} - Career Portal</title>
  </head>
  <body>
    {% include 'nav.html' %}

    {% include 'banner.html' %}

    <div class="container">
      <h1 class="text-center mt-2 mb-4">Career Portal</h1>
      <div class="container px-4 text-start">
        <form>
          <fieldset disabled>
            <legend>Job Details</legend>
            <div class="mb-3">
              <label for="disabledTextInput" class="form-label">Title</label>
              <input type="text" id="disabledTextInput" class="form-control" placeholder={{job.title}}>
            </div>
            <div class="mb-3">
              <label for="disabledTextInput" class="form-label">Location</label>
              <input type="text" id="disabledTextInput" class="form-control" placeholder={{job.location}}>
            </div>
          </fieldset>
        </form>
        <div class="text-center">
        <button class="btn btn-secondary btn-lg">Contact us</button>
      </div>  
    </div>
    {% include 'footer.html' %}
  </body>
</html>