<div class="container">
  <div class="row mb-4 pb-2 border-bottom"> 
    <div class="col-9">
      <h4 class="text-secondary mt-2 mb-0">{{job['title']}}</h4>
      <div><b>Location: </b>{{job['location']}}</div>
      {% if 'salary' in job %}
      <div><b>Salary: </b>{{job['salary']}}</div> 
      {% endif %}
    </div>  
    <div class="col-3 align-self-center">
      <a href="mailto:cschmoll@hotmail.de?&subject=Application for {{job['title']}}" type="button" class="btn btn-outline-primary">Apply</a>
    </div>  
  </div>  
</div>  